<a href="https://colab.research.google.com/github/usn1485/Advanced_python_2022/blob/main/pythonDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
!git clone https://github.com/usn1485/Advanced_python_2022.git

fatal: destination path 'Advanced_python_2022' already exists and is not an empty directory.

In [28]:
%cd /content/colab_git

[Errno 2] No such file or directory: '/content/colab_git'
/content

In [ ]:
square= [i**2 for i in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares_by_four= [i**2 for i in range(1,11) if i**2 %4==0]
squares_by_four

[4, 16, 36, 64, 100]

In [ ]:
# dict comprehensions
sqaures_dict= {i: i**2 for i in range(1,11)}
sqaures_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
#reversing key values in dictionary
capitals_by_country={"United-States":"Washington", "FRANCe":"Paris","Italy":"Rome"}
countries_by_capital={ capital: country for country, capital in capitals_by_country.items()}
countries_by_capital

{'Paris': 'FRANCe', 'Rome': 'Italy', 'Washington': 'United-States'}

In [ ]:
sum(i**2 for i in range(1,11))

385

In [ ]:
# Nested Comprehension
counting=[]
for i in range(1,11):
    for j in range(1,i+1): 
      counting.append(j)

print(counting)

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
counting= [j for i in range(1,11) for j in range(1,i+1)]
print((counting))

[1, 1, 2, 1, 2, 3, 1, 2, 3, 4, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# Palindrome Method: 1. find reverse of string and compare reverse is same as original word 

word="MaM"

# change the case to lower case
# 
word_lower= word.lower()

rev_w= word_lower[::-1]
print(rev_w)

if word_lower == rev_w:
  print('True') 
else:
  print('False')

mam
True

In [11]:
def is_palindrome(word):
  return word.lower() == word.lower()[::-1]

word= 'boy'
ans = is_palindrome(word)

if ans: 
  print('YES')
else:
  print('No')

No

In [13]:
# Find anagrams fro two words
w1="silent"
w2='listen'

if sorted(w1) == sorted(w2):
  print('YES')
else:
  print('NO')

YES

In [16]:
# Find anagrams for a list of words 
def is_anagram(w_l):

   for w in w_l:
     if len(w)> 1:
      #  sort and store the word
        sig_word= sorted(w)

        if sig_word == sorted(w):
          print("YES")
        else: 
          print('NO')

is_anagram(['apple','boy','the'])

YES
YES
YES

In [22]:
# Find bigrams
input= "What is the name of your favorite school?"
bigram=[('what', 'is'),('is','the'),('the','name')]

list_words = input.lower().split()
bigrams=[]


for i in range(1,len(list_words)):
    
    set_w= (list_words[i-1], list_words[i])
    temp = list_words[i]
    bigrams.append(set_w)


print(bigrams)

[('what', 'is'), ('is', 'the'), ('the', 'name'), ('name', 'of'), ('of', 'your'), ('your', 'favorite'), ('favorite', 'school?')]

In [ ]:
# Swap Case